# ==============================
# Maven
# ==============================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ==============================
# Eclipse
# ==============================
.classpath
.project
.settings/
.factorypath

# ==============================
# Java
# ==============================
*.class

# ==============================
# Logs
# ==============================
*.log
logs/

# ==============================
# Test Reports
# ==============================
test-output/
reports/
extent-reports/
screenshots/

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp
*.bak
*.swp
*~

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml

# ==============================
# VS Code
# ==============================
.vscode/